@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617;
  --foreground: #F8FAFC;
}

@layer base {
  body {
    @apply text-foreground antialiased;
    min-height: 100vh;
    background:
      radial-gradient(circle at 50% 30%,
        rgba(210, 190, 255, 0.9) 0%,
        rgba(176, 140, 230, 0.9) 40%,
        rgba(142, 96, 200, 0.95) 70%,
        rgba(110, 70, 170, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

* {
  @apply transition-colors duration-200;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #070B14;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}