@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #070B14;
  --foreground: #F8FAFC;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #070B14;
}

::-webkit-scrollbar-thumb {
  background: #1E293B;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
